<div class="row mt3">
  <div class="col-12">
    <h1>Shops </h1>
    <p>
      All your shops are listed here
    </p>
    <div class="flex justify-end">
      <%= link_to 'Add a new shop', new_shop_path, class: "btn btn-outline-primary" %>
    </div>

    <table class="table table-striped mv3">
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Address</th>
        <th>Description</th>
        <th></th>
      </tr>
      <% @shops.each do |s| %>
        <tr>
          <td><%= s.name %></td>
          <td><%= s.city %></td>
          <td><%= s.address %></td>
          <td><%= s.description %></td>
          <td><%= link_to 'View', shop_path(s) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
