<div class="row mt3">
  <div class="col">
    <h3>Bookings</h3>
    <p>Shop owner should be able to manage bookings from there</p>

    <table class="table table-striped">
      <tr>
        <th>Customer</th>
        <th>Booked at</th>
        <th>At shop</th>
        <th>Status</th>
        <th></th>
      </tr>
      <% @bookings.each do |s| %>
        <tr>
          <td><%= s.user.name %></td>
          <td><%= s.booked_at.strftime("%H:%M %F") %></td>
          <td><%= s.shop.address %></td>
          <td class="ttu"><%= s.aasm_state %></td>
          <td><%= link_to "View", admin_booking_path(s) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
