
<% if @barber.avatar.attached? %>
  <div class="flex items-center justify-center">
    <%= image_tag url_for(@barber.avatar), class: "br4 h5 dib" %>
  </div>
<% end %>

<%= semantic_form_for [@shop, @barber] do |f| %>
  <%= f.inputs :shop, :name, :email, :description %>
  <%= f.file_field :avatar, multiple: false, direct_upload: true %>
  <%= f.actions %>
<% end %>


