<!DOCTYPE html>
<html>
  <head>
    <title>Booker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'shared/flash_messages' %>

    <div class="container">
      <%= render partial: 'shared/admin_top_nav' %>
    </div>
    <div class="container min-vh-100 ph5 pv3">
      <%= yield %>
    </div>
  </body>
</html>
