<!DOCTYPE html>
<html>
  <head>
    <title>Booker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/flash_messages' %>

    <div class="container">
      <%= render partial: 'shared/top_nav' %>
    </div>
    <div class="container min-vh-100 ph5 pv3">
      <%= yield %>
    </div>
  </body>
</html>
